body{
    background-color: rgb(24, 24, 24);
    color: rgba(0, 0, 255, 0.5);
    font-family: 'Source Sans Pro', sans-serif;
}

.container{
    background-color: #333;
    color: #eee;
    width: 75%;
    box-sizing: border-box; /*Utilizamos pq o padding influencia no width*/
    margin:  2% auto;
    padding: 5px 30px;
    border-left: 2px solid red;
}